<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/styles.css">
    <title>Globalian</title>
</head>
<body>
    <h1>Has "Kilian Wagner" reached global?</h1>
    <p style="font-size: 30px; font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif"><strong>No</strong>, he has not reached global!</p>

    <p>How many days has he not been able to achieve the ranking of "Global Elite" in the tactical shooter "Counter-Strike: Global Offensive?</p>
    <br/>

    <p>It has been</p>
    <div class="time">{{ days }}</div>
    <p>days!!!</p>
    <p>WOW. That equates to {{ minutes }} minutes... Yikes</p>
</body>
</html>